.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  width: 200px;

  > img {
    height: fit-content;
    max-height: 150px;
    max-width: 100%;
  }
}

.leftSide {
  padding-top: 10px;
  padding-left: 10px;

  > p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.rightSide {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;

  > img {
    margin-top: auto;
  }

  > p {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .oldPrice {
    text-decoration: line-through;
    color: grey;
  }
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
