.container {
  position: relative;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.left {
  display: flex;
  gap: 10px;
}

.advancedFilters {
  z-index: 99;
  position: absolute;
  height: 300px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 4px 2px -2px gray;
}
